<%- include ("partials/header") %>

<div class="container">
	<div class="jumbotron">
	  <div class="container"> 
	  		<h1>Ir de Camping!</h1>
	  	    <p><a class="btn btn-primary btn-lg" href="/campings" role="button">Ir a los campings!</a></p>
	  </div>
	</div>
</div>

<%- include ("partials/footer") %>